.hCard-builder__content-container {
  width: 80%;
  margin: 0 auto;
}

.hCard-builder__section-subheading {
  color: $solid-grey;
  border-bottom: 3px solid $light-grey;
  padding-bottom: 5px;
}

.hCard-builder__form-wrap {
  max-width: 60%;
}
