.hCard-builder__section-subheading {
  color: $solid-grey;
  border-bottom: 3px solid $light-grey;
  padding-bottom: 5px;
}

.hCard-builder__form-wrap {
  width: 50%;
  margin: 30px;

  @media (max-width: $breakpoint) {
    width: 100%;
    margin: 0 auto 40px 0;
    text-align: center;
  }
}

.hCard-builder__form-and-display {
  display: flex;

  @media (max-width: $breakpoint) {
    flex-direction: column;
  }
}

.hCard-builder__image-select {
  display: none;
}